h1{
    color:rgb(255, 0, 0);
}
/* *{
    border:solid;
} */
.header{
    background-color: rgb(9, 36, 189);
    display:flex;
    justify-content: space-between;
}
.description{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
}
.games{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}